# Dart/Flutter generated
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/local.properties
android/.gradle/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# macOS
macos/Pods/
macos/.symlinks/

